/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: josefin sans;
}
/* navbar */
.navbar{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background: linear-gradient(57deg,#000000,purple);
}

ul{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0 23px;
    font-family: var(--link);
    color: #fff;
}

.logo img{
    width: 100px;
    height: auto;
}

.img img{
    width: 234px;
    height: 234px;
}

#hero2{
    visibility: hidden;
}

#hero{
    align-items: center;
    margin-top: 170px;
    margin-left: 223px;
    justify-content: space-around;
    margin-right: 223px;
    display: flex;
}

*.text{
    color: #fff;
    font-family: "montserrat";
}

h2{
    font-size: 39px;
}

h3{
    font-size: 23px;
}

/* services */

.About{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 123px;
    margin-left: 123px;
    margin-top: 323px;
}

.contact-fill h2{
    visibility: hidden;
}

*.About{
    color: white;
    font-family: 'Montserrat';
}

.About-img img{
    width: 434px;
    margin-right: 134px;
    height: 250px;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}

.service-img img{
    margin-right: 100px;
    padding-top:23px;
    width: 200px;
    height: 217px;
    align-items: center;
}


/* contact */

#contact{
    margin-left: 500px;
    display: block;
    justify-content: center;
}

.contactus .logo img{
    width: 200px;
    margin-right: 223px;
    height: auto;
}

.contact h2{
    color: #ffff;
    display: block;
    margin-top: 360px;
    align-items: center;
    justify-content: center;
    margin-right: 23%;
    margin-left: 39%;
    font-family: "josefin sans",sans-serif;
    margin-bottom: 134px;
}

.contact-fill{
    align-items: center;
    text-align: center;
}

.contactus{
    display: flex;
    justify-content: center;
}

input{
    display: block;
    margin-bottom: 23px;
    border-radius: 23px;
    padding: 13px;
    width: 234px;
    background:ghostwhite;
    color: black;
    /* margin-left: 200px; */
    height: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    /* padding: 23px; */
    width: 125px;
    height: 35px;
    align-items: center;
    text-align: center;
    border-radius: 23px;
    margin-left: -613px ;
    margin-bottom: 123px;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}


.footer-text{
    color: #ffffff;
    font-family: "montserrat";
}

.footer-logo img{
    margin-left: 534px;
    margin-right: 23px;
} 

/* responsive */

/* laptop */
@media (max-width:1100px){
    

    #contact{
        margin-left: 252px;
    }
    
    .service-img{
        margin-top: 58px;
    }

    .contact{
        display: none;
    }
    input{
        text-align: center;
    }
    
    * #center{
        align-items: center;
        text-align: center;
    }
    
    .logo img{
        display: block;
    }
    
    button{
        margin-right: -400px;
    }

    .contactus{
        display: block;
        justify-content: center;
    }

    .contactus .logo img{
        margin-bottom: 23px;
        padding-top: 230px ;
    } 

    #services{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .contact-fill h2{
        visibility: visible;
        color: white;
        font-family: "josefin sans";
        margin: 41px 205px 35px 0 ;
    }
    .About-img{

        margin-left: 0 ;
        margin-right: 0;
        padding-left: 73px ;
        padding-right: 73px;
    }
    .About{
        margin-left: 23px ;
        margin-right: 23px;
        display: block;
        text-align: center;
        align-content: center;
    }

    #hero{
        visibility: hidden;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        display: block;
        justify-content: unset;
    }

    #hero2{
        visibility: visible;
        display: block;
        text-align: center;
        margin-top: 0cm;
    }

    #hero2 h2{
        font-size: 33px;
    }

    #hero2 h3{
        font-size: 28px;
    }

    .service-img img{
        margin-right:14px; 
    }
    .services{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 23px;
        padding-right: 23px;
    }

    .About-img img{
        margin-right: 0;
    }

    h2{
        font-size: 29px;
    }

    h3{
        font-size: 18px;
    }

        
    footer{
        background-color: black;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
    }


    .footer-text{
        color: #fff;
        font-family: "montserrat";
    }

    .footer-logo img{
        margin-left: 170px;
        margin-right: 23px;
    }